{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
	 <table class="table">
	     <thead class="thead-dark" >
			<tr>
			    <th scope="col"># de Propuesta</th>
			    <th scope="col">Fecha</th>
			    <th scope="col">Aspirante</th>
			    <th scope="col">Categoría</th>
			    <th scope="col">Propone</th>
			    <th scope="col">Teléfono</th>
			    <th scope="col">Zona</th>
			</tr>
		    </thead>
		    <tbody>
			{% for x in page_obj %}
			<tr>
			    <th scope="row">{{ x.ppta }}</th>
			    <td>{{ x.fecha }}</td>
			    <td>{{ x.aspirante }}</td>
			    <td>{{ x.categoria }}</td>
			    <td>{{ x.propone }}</td>
			    <td>{{ x.telefono }}</td>
			    <td>{{ x.zona }}</td>
			    <td>
				<a href="{% url 'editar' x.id %}" class="btn btn-secondary">Editar</a>
				<a href="{% url 'eliminar' x.id %}" class="btn btn-danger">Eliminar</a>
			    </td>
			</tr>	
			{% endfor %}
		    </tbody>
	</table>


<div class="container mt-5">
    <div class="row">
        <div class="col">
 <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1" class="btn btn-secondary">&laquo first</a>
           <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-secondary"> last &raquo</a>
            {% endif %}
        </span>
    </div>


        </div>
    </div>
</div> 
{% endblock %}
